@import url("main.css");


#registration-btn{
    margin-right: 0.5em;
}

#login-email {
    width: auto;
}

.Login-Page {
    padding: 2em;
    border: 3px solid black; 
    border-radius: 3px;
}
.Login-Page p {
    margin-bottom: 0px;
}
