@import url("main.css");


#registration-btn{
    margin-right: 0.5em;
}

#login-email, #login-password{
    width: auto;
}

.Login-Page {
    padding: 2em;
    border: 3px solid black; 
    border-radius: 3px;
}
.Login-Page p {
    margin-bottom: 0px;
}

#login-submit-btn{
    background-color: #ffdfdb; 
    color: #062e3f;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em; 
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 5px;
}

login-submit-btn:hover {
    background-color: #062e3f; 
    color: #ffdfdb;
}